.root{
	-fx-background-color: #acb3f7;
}
.button{
	-fx-background-color: 
        #000000,
        linear-gradient(#7ebcea, #2f4b8f),
        linear-gradient(#426ab7, #263e75),
        linear-gradient(#395cab, #223768);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-padding: 12 60 12 60;
    -fx-alignment: center;
}
VBox, AnchorPane{
    -fx-alignment: center ;
    -fx-padding: 10 ;
}
.text-field{
    -fx-max-width: 250;
    -fx-min-height: 30;
}

